<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="root"></div>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are the tasks: </h2>
<button (click)="getTasksFromService()">Show tasks</button>
<span *ngIf="clicked">
  <div class="tasks">
    <div *ngFor="let x of tasks">
      <p>{{ x.title }}</p>
      <button (click)="getTaskFromService(x._id)" class="sp">Show</button>
    </div>
  </div>
</span>
<span *ngIf="stats">
  <div class="show">
    <p>{{ task.title }} - completed: {{ task.completed }}. Created at: {{ task.createdAt }}</p>

  </div>
</span>
<div class="root"></div>
