
<div class="container-fluid mx-auto">
  <div class="root"></div>
  <h1 class="text-center">
    Welcome to {{ title }}!
  </h1>
</div>
<h6 class="text-center">
<form (submit)="onSubmit()" class="mx-auto">
  <p>Title:</p>
  <input type="text" name="taskToCreate.title" [(ngModel)]="taskToCreate.title" />
  <br>
  <p>Description:</p>
  <input type="text" name="taskToCreate.description" [(ngModel)]="taskToCreate.description" />
  <br>
  <button type="submit">Create task</button>
</form>
</h6>
<h2 class="text-center">Here are the tasks: </h2>
<h6 class="text-center"><button (click)="getTasksFromService()">Show tasks</button></h6>

  <div *ngIf="clicked" class="tasks">
    <div *ngFor="let x of tasks">
      <p>{{ x.title }}</p>
      <button (click)="editTaskShow(x._id)" class="sp">Edit</button>
      <button (click)="delete(x._id)" class="sp">Delete</button>
      <button (click)="getTaskFromService(x._id)" class="sp">Show</button>
    </div>
  </div>
  <div *ngIf="editing" class="form">
    <form (submit)="on_Submit()">
      <h2>Edit</h2>
      <p>Title:</p>
      <input type="text" name="title" [(ngModel)]="edit.title" [value]="edit.title" />
      <p>Description:</p>
      <input type="text" name="edit.description" [(ngModel)]="edit.description" [value]="edit.description" />
      <button type="submit">Create task</button>
    </form>
  </div>
<app-task *ngIf="stats" [task]="task"></app-task>
<div class="root"></div>
